$font-stack: Ubuntu, sans-serif;

$bg-color: #2e3440;
$text-color: #f0f0f0;
$text-color-faded: #a0a0a0;

$primary-color: #8baed1;
$secondary-color: #232831;

$title-color: #8cafd2;
$hightlight-color: #444c5e;
$tag-color: #c9826b;

$screen-width: 960px;

html {
  min-height:100%;
}

body {
  font: 100% $font-stack;
  background-color: $bg-color;
  color: $text-color;
  margin: 0px;
}

.primary-color {
  background-color: $bg-color;
}

.secondary-color {
  background-color: $secondary-color;
}


.text-color-faded {
  color: $text-color-faded;
}

.selected {
    background-color: $hightlight-color;
}

.tag-link {
    background-color: $tag-color;
    border-radius: 8px;
    padding: 6px;
    display: inline;
    margin-right: 8px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.content-card {
    border: solid;
    border-width: 2px;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    display: block;
    max-width: 800px;
    text-decoration: none;
    width: 100%;
    overflow: hidden;

    border-color: $hightlight-color;
    &:hover {
        background-color: $hightlight-color;
    }
}

.text-date {
    color: $text-color;
}

a {
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
}

button {
    background-color: transparent;
    cursor: pointer;
    padding: 8px;
    &:hover {
        background-color: $hightlight-color;
    }
}

div {
  color: $text-color;
}

.svg-icon {
    fill : $primary-color;
}

.content-column {
    @media screen and (max-width: $screen-width) { 
            padding-left: 96px; 
    }
    @media screen and (min-width: $screen-width) { 
            padding-left: 340px; 
    }
}
