{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}

<div style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <div style="flex-grow: 1; max-width: {{ reading_width }}; padding: 0px 16px 0px 16px;">
        <div
            style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; margin-bottom: 16px;">
            <h1 style="margin: 0px; flex-grow: 100; margin-right: 32px; margin-bottom: 16px;"># Articles</h1>
            <div style="flex-grow: 1; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: start; align-items: center; column-gap: 16px; margin-bottom: 8px;">
                {% set topics = get_taxonomy(kind= "topics") %}
                <a href="{{ topics.permalink | safe }}" 
                   style="font-size: large;" >Topics</a>
            </div>
        </div>

        {% for page in section.pages %}
        {{ macros::article_card(title=page.title, description=page.description, topics=page.taxonomies.topics,
        permalink=page.permalink, date=page.date, text_color_faded=text_color_faded) }}
        {% endfor %}

    </div>
</div>

{% endblock content %}
