{% extends "base.html" %}

{% block content %}

<div style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center;" id="article-page">
    <div style="flex-grow: 1; max-width: {{ reading_width }}; padding: 0px 16px 0px 16px;">
        <div style="display: flex; flex-wrap: wrap-reverse; justify-content: space-between; align-items: center; row-gap: 16px; flex-direction: row; padding-top: 16px;">
            <div style="color: {{ text_color_faded }}; margin-right: 32px;">{{ page.date | date(format="%d/%m/%Y") }}</div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: end; row-gap: 16px; column-gap: 16px;">
                {% for topic in page.taxonomies.topics %}
                <a class="topic topic-link" href="{{ get_taxonomy_url(kind= "topics" , name=topic) | safe }}" style="
                                ">
                    {{ topic }}
                </a>
                {% endfor %}
            </div>
        </div>
        <h1 style="flex-grow: 1; margin-bottom: 16px; margin-top: 32px;"> # {{ page.title }} </h1>
        <div style="font-style: italic; margin-bottom: 32px;">{{ page.description }}</div>
        <div>
            {{ page.content | safe }}
        </div>
    </div>
</div>

{% endblock content %}
