{% extends "base.html" %}

{% block content %}

<div style="width: auto; padding-right: 16px;" class="content-column">
    <div style="max-width:1040px;">
        <h1># Projects</h1>
        {% for page in section.pages %}
        <button class="content-card" style="display: flex; flex-direction: column; min-height: 140px;"
            onclick="window.open('https://github.com/Maldus512/{{ page.extra.name | safe }}', '_blank');">
            <h2 style="margin-top: 0px; text-align: left;">{{ page.title }}</h2>
            <div style="margin-top: 0px; margin-bottom: 16px; text-align: left;">{{ page.description }}</div>
            <div style="display: flex; flex-wrap: wrap-reverse; flex-direction: row; justify-content: start; align-items: start;">
                {% if page.extra.github %}
                <img src="/icons/github.svg" style="max-height: 40px;" />
                <div style="margin-left: 16px; display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <img src="/icons/github_repo.svg" style="max-height: 16px; margin-right: 8px;" />
                        <div style="text-decoration: underline;">github.com/Maldus512/{{ page.extra.name }}</div>
                    </div>
                    <div class="github-repo-details" style="padding: 8px;" custom="Maldus512/{{ page.extra.name }}">
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
</div>

{% endblock content %}
